**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/.venv/
**/.terraform/
**/*.tfstate*
.git/
.github/
docs/
infra/
definitions/
**/tests/
**/data/
**/models/
**/wandb/
**/*.md
